<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fantasyquestwalker">
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
    <uses-feature android:name="android.hardware.sensor.stepcounter"  android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.stepdetector"  android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FantasyQuestWalker">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Splash" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JourneySelection"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>